In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import json
from datetime import datetime 
from alpaca_trade_api.rest import REST, TimeFrame
import time
from time import sleep
import datetime
import csv
%matplotlib inline

In [2]:
# Load .env enviroment variables
load_dotenv()
opensea_api_key = os.getenv("opensea_api_key")
opensea_api_key

'9796bf59fe674cae9688a1a9bb422338'

In [3]:
opensea_collections_url = "https://api.opensea.io/api/v1/collections"
opensea_collection_stats_url = "https://api.opensea.io/api/v1/collection/doodles-official/stats"

In [40]:
def get_events(url,start_date, end_date, event_type, collection_slug,limit=1):
    

    headers = {
        "Accept": "application/json",
        "X-API-KEY": opensea_api_key
    }
    
    query = { 
        "only_opensea": "true", 
        "occurred_before": end_date,
        "occurred_after": start_date,
        "event_type":event_type,
        "collection_slug":collection_slug,
        "limit":limit
    }
    
    response_data = requests.request("GET", url, headers=headers, params=query)
    json_data = response_data.json()
    #print(json_data)
    return json_data

In [43]:
#get_opensea_api_data(opensea_collections_url)
#get_opensea_api_data(opensea_collection_stats_url)

start_date = datetime.datetime(2022, 1, 10)
end_date = datetime.datetime(2022, 4, 11)
event_url = "https://api.opensea.io/api/v1/events";
event_type = "successful"
collection_slug = "boredapeyachtclub"
limit =1
response_data = get_events(event_url,
                                     start_date,
                                     end_date,
                                     event_type,
                                     collection_slug,
                                     limit)

print(response_data)
#print(response_data['asset_events'])

{'next': 'LWV2ZW50X3RpbWVzdGFtcD0yMDIyLTA0LTEwKzIwJTNBMzklM0EyMyYtcGs9NDg5NDIwMzg1Mg==', 'previous': None, 'asset_events': [{'approved_account': None, 'asset': {'id': 23137208, 'num_sales': 2, 'background_color': None, 'image_url': 'https://lh3.googleusercontent.com/GwkWWzNbZluPpHVhJwRpHs2rC_AuclHLpOFlObxi1kMcGlt33USynxmWAZyK2lfAElZGY1-CXAA7rimjPI90RBrlz-UHExsGUYSc', 'image_preview_url': 'https://lh3.googleusercontent.com/GwkWWzNbZluPpHVhJwRpHs2rC_AuclHLpOFlObxi1kMcGlt33USynxmWAZyK2lfAElZGY1-CXAA7rimjPI90RBrlz-UHExsGUYSc=s250', 'image_thumbnail_url': 'https://lh3.googleusercontent.com/GwkWWzNbZluPpHVhJwRpHs2rC_AuclHLpOFlObxi1kMcGlt33USynxmWAZyK2lfAElZGY1-CXAA7rimjPI90RBrlz-UHExsGUYSc=s128', 'image_original_url': 'ipfs://QmWrRYYYotLt4y3m7uJpWFLJdCLmrxZ5FPTTz5eB9tqMM2', 'animation_url': None, 'animation_original_url': None, 'name': None, 'description': None, 'external_link': None, 'asset_contract': {'address': '0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d', 'asset_contract_type': 'non-fungible', 'created_date': '2021-04-22T03:03:43.731860', 'name': 'BoredApeYachtClub', 'nft_version': '3.0', 'opensea_version': None, 'owner': 34522873, 'schema_name': 'ERC721', 'symbol': 'BAYC', 'total_supply': '0', 'description': 'The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles living on the Ethereum blockchain. Your Bored Ape doubles as your Yacht Club membership card, and grants access to members-only benefits, the first of which is access to THE BATHROOM, a collaborative graffiti board. Future areas and perks can be unlocked by the community through roadmap activation. Visit www.BoredApeYachtClub.com for more details.', 'external_link': 'http://www.boredapeyachtclub.com/', 'image_url': 'https://lh3.googleusercontent.com/Ju9CkWtV-1Okvf45wo8UctR-M9He2PjILP0oOvxE89AyiPPGtrR3gysu1Zgy0hjd2xKIgjJJtWIc0ybj4Vd7wv8t3pxDGHoJBzDB=s120', 'default_to_fiat': False, 'dev_buyer_fee_basis_points': 0, 'dev_seller_fee_basis_points': 250, 'only_proxied_transfers': False, 'opensea_buyer_fee_basis_points': 0, 'opensea_seller_fee_basis_points': 250, 'buyer_fee_basis_points': 0, 'seller_fee_basis_points': 500, 'payout_address': '0xaae7ac476b117bccafe2f05f582906be44bc8ff1'}, 'permalink': 'https://opensea.io/assets/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d/5147', 'collection': {'banner_image_url': 'https://lh3.googleusercontent.com/i5dYZRkVCUK97bfprQ3WXyrT9BnLSZtVKGJlKQ919uaUB0sxbngVCioaiyu9r6snqfi2aaTyIvv6DHm4m2R3y7hMajbsv14pSZK8mhs=s2500', 'chat_url': None, 'created_date': '2021-04-22T23:14:03.967121', 'default_to_fiat': False, 'description': 'The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles living on the Ethereum blockchain. Your Bored Ape doubles as your Yacht Club membership card, and grants access to members-only benefits, the first of which is access to THE BATHROOM, a collaborative graffiti board. Future areas and perks can be unlocked by the community through roadmap activation. Visit www.BoredApeYachtClub.com for more details.', 'dev_buyer_fee_basis_points': '0', 'dev_seller_fee_basis_points': '250', 'discord_url': 'https://discord.gg/3P5K3dzgdB', 'display_data': {'card_display_style': 'contain'}, 'external_url': 'http://www.boredapeyachtclub.com/', 'featured': False, 'featured_image_url': 'https://lh3.googleusercontent.com/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA=s300', 'hidden': False, 'safelist_request_status': 'verified', 'image_url': 'https://lh3.googleusercontent.com/Ju9CkWtV-1Okvf45wo8UctR-M9He2PjILP0oOvxE89AyiPPGtrR3gysu1Zgy0hjd2xKIgjJJtWIc0ybj4Vd7wv8t3pxDGHoJBzDB=s120', 'is_subject_to_whitelist': False, 'large_image_url': 'https://lh3.googleusercontent.com/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA=s300', 'medium_username': None, 'name': 'Bored Ape Yacht Club', 'only_proxied_transfers': False, 'opensea_buyer_fee_basis_points': '0', 'opensea_seller_fee_basis_points': '250', 'payout_address': '0xaae7ac476b117bccafe2f05f582906be44bc8ff1', 'require_email': False, 'short_description': None, 'slug': 'boredapeyachtclub', 'telegram_url': None, 'twitter_username': 'BoredApeYC', 'instagram_username': 'boredapeyachtclub', 'wiki_url': None, 'is_nsfw': False}, 'decimals': 0, 'token_metadata': 'https://opensea.mypinata.cloud/ipfs/QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/5147', 'is_nsfw': False, 'owner': {'user': {'username': None}, 'profile_img_url': 'https://storage.googleapis.com/opensea-static/opensea-profile/33.png', 'address': '0x1ab0f487ca4481074c4a611a96853a7536c09e94', 'config': ''}, 'token_id': '5147'}, 'asset_bundle': None, 'auction_type': None, 'bid_amount': None, 'collection_slug': 'boredapeyachtclub', 'contract_address': '0x7f268357a8c2552623316e2562d90e642bb538e5', 'created_date': '2022-04-10T20:39:36.970372', 'custom_event_name': None, 'dev_fee_payment_event': {'asset': None, 'asset_bundle': None, 'event_type': 'payout', 'event_timestamp': '2022-04-11T09:17:11', 'auction_type': None, 'total_price': None, 'payment_token': {'symbol': 'ETH', 'address': '0x0000000000000000000000000000000000000000', 'image_url': 'https://openseauserdata.com/files/6f8e2979d428180222796ff4a33ab929.svg', 'name': 'Ether', 'decimals': 18, 'eth_price': '1.000000000000000', 'usd_price': '3114.570000000000164000'}, 'transaction': {'block_hash': '0x6595b16f39de561dd3bb427b66d9efe64ed2b8d8fb1d61ed0459308305261eb3', 'block_number': '14563541', 'from_account': None, 'id': 330924313, 'timestamp': None, 'to_account': None, 'transaction_hash': '0x066a33a51cfbad1b5776e6ad71c4a94b5ba5c8070d4e669da95b5745b15cc995', 'transaction_index': '117'}, 'created_date': '2022-04-11T09:17:53.810810', 'quantity': None}, 'dev_seller_fee_basis_points': 250, 'duration': None, 'ending_price': None, 'event_type': 'successful', 'from_account': None, 'id': 4894203852, 'is_private': False, 'owner_account': None, 'payment_token': {'symbol': 'ETH', 'address': '0x0000000000000000000000000000000000000000', 'image_url': 'https://openseauserdata.com/files/6f8e2979d428180222796ff4a33ab929.svg', 'name': 'Ether', 'decimals': 18, 'eth_price': '1.000000000000000', 'usd_price': '3114.570000000000164000'}, 'quantity': '1', 'seller': {'user': {'username': 'C2F5T1'}, 'profile_img_url': 'https://storage.googleapis.com/opensea-static/opensea-profile/24.png', 'address': '0x1cb51ecb5c1ac20b9bd71e2db015cec6c543a479', 'config': ''}, 'starting_price': None, 'to_account': None, 'total_price': '114222200000000000000', 'transaction': {'block_hash': '0x9ca851f28f13d4bf000a012fc961767fd07251aa1c3f0eb6d1a3fbb15d37de52', 'block_number': '14560131', 'from_account': {'user': {'username': None}, 'profile_img_url': 'https://storage.googleapis.com/opensea-static/opensea-profile/33.png', 'address': '0x1ab0f487ca4481074c4a611a96853a7536c09e94', 'config': ''}, 'id': 330481791, 'timestamp': '2022-04-10T20:39:23', 'to_account': {'user': None, 'profile_img_url': 'https://storage.googleapis.com/opensea-static/opensea-profile/28.png', 'address': '0x7f268357a8c2552623316e2562d90e642bb538e5', 'config': ''}, 'transaction_hash': '0x6dcf64b237e00c645259a057d86f5fc849964bb3eaa1c8a4f6c1075d10faf4ab', 'transaction_index': '60'}, 'winner_account': {'user': {'username': None}, 'profile_img_url': 'https://storage.googleapis.com/opensea-static/opensea-profile/33.png', 'address': '0x1ab0f487ca4481074c4a611a96853a7536c09e94', 'config': ''}, 'listing_time': '2022-04-09T22:33:42'}]}

In [71]:
def parse_event(event):
    record = {}
    asset = event.get('asset')
    if asset == None:
        return None # if there's no asset that means it's not a single NFT transaction so skip this item

    #collection
    record['collection_slug'] = asset['collection']['slug']
    record['collection_name'] = asset['collection']['name']
    record['collection_url'] = "https://opensea.io/collection/" + asset['collection']['slug']

    #asset
    record['asset_id'] = asset['id']
    record['asset_name'] = asset['name']
    record['asset_description'] = asset['description']
    record['asset_contract_date'] = asset['asset_contract']['created_date']
    record['asset_url'] = asset['permalink']
    record['asset_img_url'] = asset['image_url']

    #event
    record['event_id'] = event['id']
    record['event_time'] = event.get('created_date')
    record['event_auction_type'] = event.get('auction_type')
    record['event_contract_address'] = event.get('contract_address')
    record['event_quantity'] = event.get('quantity')
    record['event_payment_symbol'] =  None if event.get('payment_token') == None else event.get('payment_token').get('symbol')

    decimals = 18
    if event.get('payment_token') != None:
        decimals = event.get('payment_token').get('decimals')

    price_str = event['total_price']

    try: 
        if len(price_str) < decimals:
            price_str =  "0." + (decimals-len(price_str)) * "0" + price_str
            record['event_total_price'] = float(price_str)
        else:
            record['event_total_price'] = float(price_str[:-decimals] + "." + price_str[len(price_str)-decimals:])
    except:
        print(event)

    return record

In [56]:
pause = 1

def fetch_all_events(url,start_date, end_date,event_type,collection_slug,limit):
    result = list()
    print(f"Fetching events between {start_date} and {end_date}")
    response = get_events(url,start_date,end_date,event_type,collection_slug, limit)
    for event in response['asset_events']:
        cleaned_event = parse_event(event)
        if cleaned_event != None:
            result.append(cleaned_event)
    return result

In [82]:


start_date = datetime.datetime(2021, 2, 10)
end_date = datetime.datetime(2022, 4, 10)
limit = 300

result = fetch_all_events(event_url,start_date,end_date,event_type,collection_slug, limit)

print(f"total number of records found:{len(result)}")

Fetching events between 2021-02-10 00:00:00 and 2022-04-10 00:00:00
total number of records found:300

In [75]:
file_name="event_data.csv"

#print(result[0].keys())

def write_csv(data, file_name):
    with open(file_name, mode='w', encoding='utf-8', newline='\n') as csv_file:
        writer = csv.DictWriter(csv_file, fieldnames = data[0].keys())

        writer.writeheader()
        for event in data:
            writer.writerow(event)
            
write_csv(result, file_name)

In [104]:
nft_events_df = pd.read_csv('event_data.csv')


nft_event_price_df=nft_events_df[['asset_id','event_time','event_total_price']]

nft_event_price_df['event_time']= pd.to_datetime(nft_events_df['event_time']).dt.date
nft_event_price_df.rename(columns = {'event_time':'event_date'}, inplace = True)

#nft_event_price_df =nft_event_price_df.set_index("event_date")
nft_event_price_df

/Users/sameerlakhe/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/sameerlakhe/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     asset_id  event_date  event_total_price
0    23137208  2022-04-09           101.6789
1    23131468  2022-04-09           130.0000
2    23123790  2022-04-09           110.0000
3    23134568  2022-04-09           107.0000
4    23133985  2022-04-09           125.0000
..        ...         ...                ...
295  23132695  2022-03-18            94.0000
296  23142856  2022-03-18            94.0000
297  23140938  2022-03-18           100.0000
298  23133575  2022-03-18            90.5000
299  23128018  2022-03-18           165.0000

[300 rows x 3 columns]

In [111]:
# this NFT collection has different assets which will have different prices based on various attributes 
# like rarity. For the sake of simplicity, we will consider the min/floor price of any of the asset
# for a particular day to determine the floor price of the collection for that day
# this function will interate though all the rows and check for different prices for a day.
# it will then pick the min of the price as the floor price for that day (irrespective of the assetId)
def consolidate_price_data_for_dates(df):
    prices_per_day={}
    for i in range(0, len(df)):
        event_date = df.iloc[i]['event_date']
        event_total_price = df.iloc[i]['event_total_price']
        #print(event_date,event_total_price )
        if event_date in prices_per_day:
            value_event_date = prices_per_day.get(event_date)
            value_event_date.append(event_total_price)
        else:
            prices_per_day[event_date]= [event_total_price]

    return prices_per_day

prices_per_day = consolidate_price_data_for_dates(nft_event_price_df)
prices_per_day

{datetime.date(2022, 4, 9): [101.6789, 130.0, 110.0, 107.0, 125.0],
 datetime.date(2022, 4, 8): [113.0, 114.0, 110.0, 130.0, 101.001, 124.0],
 datetime.date(2022, 4, 7): [125.0, 126.0, 123.99, 135.0, 129.0, 111.9],
 datetime.date(2022, 4, 6): [100.1775,
  117.0,
  112.0,
  122.0,
  129.4,
  112.0,
  124.68],
 datetime.date(2022, 4, 5): [119.69,
  120.0,
  124.54,
  111.0,
  122.388,
  133.0,
  111.0,
  118.0,
  98.85910100000004,
  180.0],
 datetime.date(2022, 4, 4): [111.0,
  118.0,
  109.99,
  109.69,
  108.9,
  100.0,
  96.85920303000005,
  120.0,
  110.0],
 datetime.date(2022, 4, 3): [105.0, 114.95, 124.0, 112.0, 125.0, 115.0],
 datetime.date(2022, 4, 2): [103.0, 200.0, 135.0, 133.333],
 datetime.date(2022, 4, 1): [102.0,
  115.0,
  111.69,
  125.0,
  121.95,
  121.5,
  111.0,
  118.5,
  125.0,
  100.0],
 datetime.date(2022, 3, 31): [125.0,
  119.5,
  114.69,
  117.9,
  115.0,
  159.0,
  115.24596696990398,
  108.5,
  110.0,
  124.5,
  108.9,
  109.0,
  140.0,
  200.0],
 datetime.date(2022, 3, 30): [108.0,
  119.99,
  106.66,
  113.5,
  117.0,
  107.0,
  104.75,
  111.0,
  139.0,
  102.69,
  119.99],
 datetime.date(2022, 3, 29): [100.0,
  115.0,
  100.0,
  111.25,
  142.69,
  110.69,
  99.0,
  107.0,
  133.7,
  106.9,
  93.91],
 datetime.date(2022, 3, 28): [104.0,
  135.0,
  118.0,
  150.0,
  119.89,
  117.5,
  110.0,
  0.029,
  109.0,
  116.5,
  115.0,
  112.0,
  107.0,
  111.0,
  114.5,
  200.0,
  115.0],
 datetime.date(2022, 3, 27): [121.0,
  103.69,
  106.0,
  112.0,
  114.5,
  103.0,
  102.8,
  105.5,
  150.0,
  96.5,
  110.0,
  138.8],
 datetime.date(2022, 3, 26): [152.0,
  108.9,
  105.0,
  109.0,
  129.0,
  118.3052,
  109.0,
  199.0,
  129.0,
  111.99,
  95.01,
  102.8],
 datetime.date(2022, 3, 25): [101.0,
  155.0,
  103.0,
  105.0,
  115.0,
  109.5,
  105.9,
  123.0,
  128.42,
  110.0,
  108.8888,
  104.4,
  170.0,
  111.0,
  114.5,
  105.0,
  109.0,
  105.0,
  119.0],
 datetime.date(2022, 3, 24): [101.5,
  102.0,
  135.0,
  111.9,
  120.0,
  97.0,
  110.0,
  115.0,
  117.0,
  108.0,
  114.0,
  105.0,
  150.0,
  103.6969,
  128.69,
  129.0,
  110.0],
 datetime.date(2022, 3, 23): [114.92,
  110.0,
  99.416835,
  107.0,
  114.75,
  155.0,
  134.99,
  131.69,
  115.0,
  118.0,
  127.0,
  105.0,
  108.0,
  120.0,
  110.0,
  103.5,
  108.0],
 datetime.date(2022, 3, 22): [123.69,
  109.99,
  160.0,
  104.0,
  106.0,
  105.0,
  104.0,
  108.0,
  103.9,
  101.99,
  100.69,
  101.0,
  103.5,
  109.69,
  106.89,
  102.88],
 datetime.date(2022, 3, 21): [128.821,
  98.99,
  87.7432,
  88.0,
  87.7334,
  99.99,
  110.0,
  125.0,
  109.0,
  129.0,
  113.0,
  110.0,
  114.99],
 datetime.date(2022, 3, 20): [250.0,
  115.087413616875,
  85.0,
  90.307,
  103.0,
  105.0,
  97.0,
  114.93,
  115.0,
  100.0,
  150.0,
  100.0,
  140.0,
  103.9,
  106.4,
  104.8,
  106.4,
  104.99,
  130.0,
  125.0],
 datetime.date(2022, 3, 19): [108.0,
  108.69,
  119.0,
  105.69,
  103.9,
  105.0,
  111.0,
  101.0,
  125.0,
  110.0,
  102.5,
  88.0,
  120.0,
  110.0,
  105.0,
  110.0,
  114.0,
  109.0,
  170.0,
  101.0,
  110.69,
  109.95,
  107.0,
  103.0,
  118.0,
  188.0,
  100.0,
  100.0,
  109.0,
  99.49,
  105.0,
  100.0,
  109.0,
  99.99,
  94.0,
  96.0,
  97.0,
  98.5,
  93.69,
  93.0,
  96.5,
  95.0,
  98.9,
  93.0,
  95.0,
  95.0,
  92.69,
  94.69,
  93.69,
  108.8888],
 datetime.date(2022, 3, 18): [95.0,
  98.0,
  92.5,
  94.0,
  94.0,
  100.0,
  90.5,
  165.0]}

In [127]:
# once the dictonary is created with key as date and values as different prices for that date,
# iterate over the dictionary, to get the lowest value for that date and create another dictionary

def get_floor_price_data(prices_per_day):
    floor_prices={}
    for key in prices_per_day:
        prices_for_current_day = prices_per_day[key]
        floor_price_current_day = min(prices_for_current_day)
        floor_prices[key]= floor_price_current_day
        print(key, 'corresponds to', floor_prices[key],floor_price_current_day)
    return floor_prices

floor_prices = get_floor_price_data(prices_per_day)
floor_prices

2022-04-09 corresponds to 101.6789 101.6789
2022-04-08 corresponds to 101.001 101.001
2022-04-07 corresponds to 111.9 111.9
2022-04-06 corresponds to 100.1775 100.1775
2022-04-05 corresponds to 98.85910100000004 98.85910100000004
2022-04-04 corresponds to 96.85920303000005 96.85920303000005
2022-04-03 corresponds to 105.0 105.0
2022-04-02 corresponds to 103.0 103.0
2022-04-01 corresponds to 100.0 100.0
2022-03-31 corresponds to 108.5 108.5
2022-03-30 corresponds to 102.69 102.69
2022-03-29 corresponds to 93.91 93.91
2022-03-28 corresponds to 0.029 0.029
2022-03-27 corresponds to 96.5 96.5
2022-03-26 corresponds to 95.01 95.01
2022-03-25 corresponds to 101.0 101.0
2022-03-24 corresponds to 97.0 97.0
2022-03-23 corresponds to 99.416835 99.416835
2022-03-22 corresponds to 100.69 100.69
2022-03-21 corresponds to 87.7334 87.7334
2022-03-20 corresponds to 85.0 85.0
2022-03-19 corresponds to 88.0 88.0
2022-03-18 corresponds to 90.5 90.5

{datetime.date(2022, 4, 9): 101.6789,
 datetime.date(2022, 4, 8): 101.001,
 datetime.date(2022, 4, 7): 111.9,
 datetime.date(2022, 4, 6): 100.1775,
 datetime.date(2022, 4, 5): 98.85910100000004,
 datetime.date(2022, 4, 4): 96.85920303000005,
 datetime.date(2022, 4, 3): 105.0,
 datetime.date(2022, 4, 2): 103.0,
 datetime.date(2022, 4, 1): 100.0,
 datetime.date(2022, 3, 31): 108.5,
 datetime.date(2022, 3, 30): 102.69,
 datetime.date(2022, 3, 29): 93.91,
 datetime.date(2022, 3, 28): 0.029,
 datetime.date(2022, 3, 27): 96.5,
 datetime.date(2022, 3, 26): 95.01,
 datetime.date(2022, 3, 25): 101.0,
 datetime.date(2022, 3, 24): 97.0,
 datetime.date(2022, 3, 23): 99.416835,
 datetime.date(2022, 3, 22): 100.69,
 datetime.date(2022, 3, 21): 87.7334,
 datetime.date(2022, 3, 20): 85.0,
 datetime.date(2022, 3, 19): 88.0,
 datetime.date(2022, 3, 18): 90.5}

In [128]:
#df = pd.DataFrame.from_dict(floor_prices)
df =pd.DataFrame(floor_prices.items(), columns=['event_date', 'event_total_price'])
df

    event_date  event_total_price
0   2022-04-09         101.678900
1   2022-04-08         101.001000
2   2022-04-07         111.900000
3   2022-04-06         100.177500
4   2022-04-05          98.859101
5   2022-04-04          96.859203
6   2022-04-03         105.000000
7   2022-04-02         103.000000
8   2022-04-01         100.000000
9   2022-03-31         108.500000
10  2022-03-30         102.690000
11  2022-03-29          93.910000
12  2022-03-28           0.029000
13  2022-03-27          96.500000
14  2022-03-26          95.010000
15  2022-03-25         101.000000
16  2022-03-24          97.000000
17  2022-03-23          99.416835
18  2022-03-22         100.690000
19  2022-03-21          87.733400
20  2022-03-20          85.000000
21  2022-03-19          88.000000
22  2022-03-18          90.500000